[submodule "themes/book"]
	path = themes/book
	url = git@github.com:alex-shpak/hugo-book.git
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = git@github.com:CaiJimmy/hugo-theme-stack.git
